# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Environment
.env
.env.*

# Logs
*.log

# Build
bin/
dist/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Go
*.exe
*.test
*.out

# AWS
*.pem
